header {
    display: inline-block;
    margin-left: 60%;
    padding: 0px;
    background-color: #427E80;
    
}

body {
    margin: 0%;
    background-color: #427E80;
    
}

.menu2 {
    padding: 0px;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}

.menuSuperior2 {
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    font-weight: 300;
}


#titulo2 {
    
    display: flex;
    justify-content: center;
    margin: 200px;
    background-color: #2D2D2D;
    text-shadow: 4px 4px black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
    font-size: 56px;
   

}

.home2 {
    background: url(./assets/codigo.jpeg);
    visibility: visible;
    min-height: 500px;
    justify-content: center;
    display: flex;
    background-attachment: fixed;
    

   
}

.contenido {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 200px 200px 200px;
    grid-column-gap: 15%;

}

#historia1 {
    text-shadow: 2px 2px #154454;
    font-size: 35px;
    text-align: center;
    color: #F0F5E4;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    margin-left: 5%;
}

#parrafo1 {
    width: 150%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 9%;
}

#contenedor1 {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-column-gap: 2%;
    margin: 20px;
}

#contenedor2 {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-column-gap: 2%;
}

#historia2 {
    margin-left: 50%;
    width: 80%;
    text-shadow: 2px 2px #154454;
    font-size: 40px;
    text-align: center;
    color: #F0F5E4;
    font-family: 'Montserrat', sans-serif;
}

#parrafo2 {
    margin-left: 5%;
    font-family: 'Montserrat', sans-serif;
}

#contenedor3 {
    display: grid;
    grid-template-columns: 30% 30%;
    grid-column-gap: 2%;

}

#historia3 {
    width: 60%;
    margin-left: 10%;
    margin: 20%;
    text-shadow: 2px 2px #154454;
    font-size: 30px;
    text-align: center;
    color: #F0F5E4;
    font-family: 'Montserrat', sans-serif;
}

#parrafo3 {
    width: 200%;
    font-family:'Montserrat', sans-serif; 
    
}

.tituloVideo {
    margin: 20%;
    width: 100%;
    font-size: 40px;
    text-shadow: 2px 2px #154454;
    color: #F0F5E4;
    font-family: 'Montserrat', sans-serif;

}

.video1 {
    margin-left: 20%;
    margin-left: 20%;
    margin-top: -15%;
}

#controles {
    display: flex;
    padding: 13px;
    background-color: #1d1d1d;
    border-radius: 10px;
    width: 77%;
    position: relative;
    margin-top: -6%;
    gap: 10px;
}

.botones {
    box-shadow: 2px 3px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color: #F0F5E4;
    color: #154454;
    width: 70px;
}

.Footer {
    display: flex;
    background-color: #1d1d1d;
    height: 80px;
    display: flex;
    
    align-items: center;
    padding: 10px;
    color: white;
    margin-top: 20%;
}

#Footer2 {
    text-align: center;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    width: 70px;
    margin-left: 40%;
}

#Footer3 {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    margin-left: 150%;
    width: 100%;
}